
.header {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid hsl(220, 14%, 75%);

  .logo {
    margin: 0 20px 0 0;
    img {
      transform: translateY(5px);
    }
  }
  a {
    color: hsl(220, 14%, 75%);
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
    padding: 0 0 30px 0;

    &:hover {
      color: black;
    }
    &.active {
      border-color: hsl(26, 100%, 55%);
      color: black;
    }
  }
  .cart-avatar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 0 auto;

    .number-product {
      position: absolute;
      top: 0;
      right: 50px;
      background-color: hsl(26, 100%, 55%);
      color: white;
      font-weight: 700;
      font-size: 12px;
      border-radius: 30px;
      height: 15px;
      width: 20px;
      text-align: center;
      z-index: 100;
    }

    .cart-img {
      position: relative;
      color: hsl(220, 14%, 75%);
      cursor: pointer;
      &:hover {
        color: black;
      }

    }
    .avatar-img {
      cursor: pointer;
      margin: 0 0 0 20px;
      padding: 0px;
      border: 3px solid transparent;
      border-radius: 50%;
      &:hover {
        border-color: hsl(26, 100%, 55%);
      }
    }

  }
  .burger {
    margin: 11px 20px 0 0;
    color: hsl(220, 14%, 75%);
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
  .menu {
    position: absolute;
    top: -27px;
    left: -80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 93vh;
    z-index: 100;
    padding: 20px;
    font-weight: 700;

    .icon-close {
      color: hsl(220, 14%, 75%);
      cursor: pointer;
      margin: 0 0 40px 0;

      &:hover {
        color: black;
      }
    }
    a {
      margin-bottom: 10px;
      border: none;
    }
  }
}