.product-details {
  width: 60%;
  padding: 10px 0 0 60px;

  h1 {
    color: hsl(220, 13%, 13%);
  }
}
.company {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 14px;
}
.product-desc {
  color: hsl(219, 9%, 45%);
  font-size: 12px;
}
.product-price {
  display: flex;
  align-items: center;
  margin: 20px 0 5px 0;

  p {
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  .solde {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    border-radius: 6px;
    margin: 0 0 0 20px;
    padding: 2px 5px;
  }
 }
.old-price {
  margin: 0 0 20px 0;
  padding: 0;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
.add-cart {
  display: flex;

  .product-count {
    display: flex;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 6px;

    .count-value {
      font-weight: 700;
      padding: 0 10px;
    }
    img {
      cursor: pointer;
      padding: 0 20px;
    }

  }
  .button-add-cart {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 0 0 20px;
    border-radius: 8px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(25, 100%, 94%);
    cursor: pointer;

    p {
      margin: 0 0 0 10px;
      font-weight: 700;
      font-size: 12px;
    }
  }
}